---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404 Not Found | Soho" description="The page you are looking for doesn't exist or has been moved.">
      <!-- 404 -->
      <section class="mil-banner">
        <div class="container">
          <div class="mil-banner-content mil-center mil-up">
            <h1 class="mil-mb-60">404</h1>
            <h3 class="mil-mb-60">Page <span class="mil-thin">Not Found</span></h3>
            <p class="mil-mb-60">The page you are looking for doesn't exist or has been moved.</p>
            <a href="/" class="mil-button mil-arrow-place">
              <span>Back to Home</span>
            </a>
          </div>
        </div>
      </section>
      <!-- 404 end --></BaseLayout>
