---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Soho Solusi Digital" description="Empowering Businesses Through Smart Solutions. Kami membantu bisnis Anda menemukan cara terbaik untuk tumbuh, beradaptasi, dan berkembang di era digital.">
      <!-- banner wrapper -->
      <div class="banner-wrapper" style="position: relative; min-height: 100vh;">        
        <!-- banner -->
        <section class="mil-banner mil-dark-bg" style="position: relative; min-height: 100vh; background: transparent;">
          <!-- hero background image (outside invert area) -->
          <div class="and_bg-banner-hero">
            <img src="/img/photo/hero_home.jpg" alt="banner" width="auto" height="auto">
          </div>
          <div class="mi-invert-fix">
            <div class="mil-animation-frame">
              <div class="mil-animation mil-position-1 mil-scale" data-value-1="7" data-value-2="1.6"></div>
              <div class="mil-animation mil-position-2 mil-scale" data-value-1="4" data-value-2="1"></div>
              <div class="mil-animation mil-position-3 mil-scale" data-value-1="1.2" data-value-2=".1"></div>
            </div>

            <div class="mil-gradient"></div>
            
            <div class="container">
              <div class="mil-banner-content mil-up">
                <h1 class="mil-muted mil-mb-60" style="backdrop-filter: blur(1px);">Empowering <span class="mil-thin">Businesses</span><br> Through <span class="mil-thin">Smart Solutions</span></h1>
                <div class="row">
                  <div class="col-md-7 col-lg-5">
                    <p class="mil-light mil-mb-60" style="backdrop-filter: blur(1px);">Kami percaya bahwa setiap tantangan memiliki solusi dan teknologi adalah jembatannya.
                        Dengan pendekatan yang cerdas dan inovatif, kami membantu bisnis Anda menemukan cara terbaik untuk tumbuh, beradaptasi, dan berkembang di era digital.</p>
                  </div>
                </div>

                <a href="/services" class="mil-button mil-arrow-place mil-btn-space" style="background: rgba(0, 0, 0, 0.6); color:white">
                  <span>What we do</span>
                </a>

                <!-- <a href="/portfolio-1" class="mil-link mil-muted mil-arrow-place">
                  <span>View works</span>
                </a> -->

                <!-- <div class="mil-circle-text">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve" class="mil-ct-svg mil-rotate" data-value="360">
                    <defs>
                      <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 " />
                    </defs>
                    <circle cx="150" cy="100" r="75" fill="none" />
                    <g>
                      <use xlink:href="#circlePath" fill="none" />
                      <text style="letter-spacing: 6.5px">
                        <textPath xlink:href="#circlePath">Scroll down - Scroll down - </textPath>
                      </text>
                    </g>
                  </svg>
                  <a href="#about" class="mil-button mil-arrow-place mil-icon-button mil-arrow-down"></a>
                </div> -->

              </div>
            </div>
          </div>
        </section>
      <!-- banner end -->
      </div>
      <!-- banner wrapper end -->

      <!-- about -->
      <section id="about">
        <div class="container mil-p-120-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-xl-5">

              <div class="mil-mb-90">
                <h2 class="mil-up mil-mb-60">Discover <br>Our <span class="mil-thin">Solutions</span></h2>
                <p class="mil-up mil-mb-30">Kami percaya bahwa setiap tantangan ada solusinya, dan teknologi adalah jembatannya. Dengan pendekatan yang cerdas dan inovatif, kami membantu bisnis Anda menemukan solusi praktis terbaik untuk beradaptasi, tumbuh, dan berkembang berkelanjutan di era digital.</p>
                <p class="mil-up mil-mb-60">Kolaborasi adalah inti dari cara kami bekerja. Tim kami yang terdiri dari para pengembang, desainer, dan konsultan teknologi bekerja secara sinergis untuk menghadirkan hasil yang berfungsi dengan baik, serta selaras dengan visi bisnis Anda. Dengan pendekatan yang berorientasi pada solusi, kami berkomitmen menghadirkan inovasi yang relevan, dan siap bersaing di masa depan digital.</p>

                <div class="mil-about-quote">
                  <h6 class="mil-quote mil-up" style="padding: 0px;">Creating <span class="mil-thin">Digital Solutions:</span> Unleashing <span class="mil-thin">Innovation & Growth</span></h6>
                </div>
              </div>

            </div>
            <div class="col-lg-5 d-none d-lg-block">
              <div class="mil-about-photo mil-mb-90">
                <!-- <div class="mil-lines-place"></div> -->
                <div class="mil-up mil-img-frame" style="padding-bottom: 160%;">
                  <img src="/img/photo/1.jpg" alt="img" class="mil-scale" data-value-1="1" data-value-2="1.2">
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- about end -->

      <!-- services -->
      <section class="mil-dark-bg">
        <div class="mi-invert-fix">
          <div class="mil-animation-frame">
            <div class="mil-animation mil-position-1 mil-scale" data-value-1="2.4" data-value-2="1.4" style="top: 300px; right: -100px"></div>
            <div class="mil-animation mil-position-2 mil-scale" data-value-1="2" data-value-2="1" style="left: 150px"></div>
          </div>
          <div class="container mil-p-120-0">

            <div class="mil-mb-120">
              <div class="row">
                <div class="col-lg-10">
                  <span class="mil-suptitle mil-light-soft mil-suptitle-right mil-up">Professionals focused on helping your business<br> grow and move forward.</span>
                </div>
              </div>

              <div class="mil-complex-text justify-content-center mil-up mil-mb-15">
                <!-- <span class="mil-text-image"><img src="/img/photo/2.jpg" alt="team"></span> -->
                <h2 class="mil-h1 mil-muted mil-center">Delivering <span class="mil-thin">Efficient</span></h2>
              </div>
              <div class="mil-complex-text justify-content-center mil-up" >
                <h2 class="mil-h1 mil-muted mil-center">Solutions <span class="mil-thin">with Real Impact.</span></h2>
                <a href="/services" class="mil-services-button mil-button mil-arrow-place" style="background-color: gray;"><span>What we do</span></a>
              </div>
            </div>

            <div class="row mil-services-grid m-0">
              <div class="col-md-6 col-lg-4 mil-services-grid-item p-0">
                <a href="/service/website-design-and-development" class="mil-service-card-sm mil-up">
                  <h5 class="mil-muted mil-mb-30">Website Design <br>and Development</h5>
                  <div class="mil-light-soft mil-mb-30">Website modern, cepat, dan dirancang untuk mendorong performa serta konversi bisnis.</div>
                  <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                </a>
              </div>
              <div class="col-md-6 col-lg-4 mil-services-grid-item p-0">
                <a href="/service/custom-software-development" class="mil-service-card-sm mil-up">
                  <h5 class="mil-muted mil-mb-30">Custom Software <br>Development</h5>
                  <div class="mil-light-soft mil-mb-30">Perangkat lunak khusus untuk meningkatkan efisiensi dan keunggulan operasional.</div>
                  <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                </a>
              </div>
              <div class="col-md-6 col-lg-4 mil-services-grid-item p-0">
                <a href="/service/it-consultation" class="mil-service-card-sm mil-up">
                  <h5 class="mil-muted mil-mb-30">IT Consultation</h5>
                  <div class="mil-light-soft mil-mb-30">Konsultasi strategis untuk membantu bisnis beradaptasi dan berkembang melalui teknologi.</div>
                  <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- services end -->

      <section class="mil-soft-bg">
        <div class="container mil-p-120-120">
          <div class="row">
            <div class="col-lg-10">
              <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>
            </div>
          </div>
          <div class="mil-center">
            <h2 class="mil-up mil-mb-60">Let's make an <span class="mil-thin">impact</span><br> together. Ready <span class="mil-thin">when you are</span></h2>
            <div class="mil-up"><a href="/contact" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
          </div>
        </div>
      </section>

</BaseLayout>
