---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Our Services | Soho Solusi Digital" description="Temukan bagaimana layanan ahli Soho dalam Web Design and Development, Custom Software Development, dan IT Consulting dapat mentransformasi bisnis Anda. Mari kita bangun masa depan bersama.">
      <!-- banner -->
      <div class="mil-dark-bg">
        <div class="mil-inner-banner">
          <div class="mi-invert-fix">
            <div class="mil-banner-content mil-up">
              <div class="mil-animation-frame">
                <div class="mil-animation mil-position-4 mil-scale" data-value-1="6" data-value-2="1.4"></div>
              </div>
              <div class="container">
                <ul class="mil-breadcrumbs mil-light mil-mb-60">
                  <li><a href="/">Homepage</a></li>
                  <li><a href="/services">Services</a></li>
                </ul>
                <h1 class="mil-muted mil-mb-60"><span class="mil-thin">This is </span>what<br><span class="mil-thin"> we do </span>best</h1>
                <a href="#services" class="mil-link mil-accent mil-arrow-place mil-down-arrow" style="color: white;">
                  <span>Our services</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- banner end -->

        <!-- services -->
        <section id="services">
          <div class="mi-invert-fix">
            <div class="container mil-p-120-60">
              <div class="row">
                <div class="col-lg-5" >
                  <img src="/img/photo/bg_service.jpg" alt="gedung" style="width: 100%; height: 100%; padding-bottom: 30px; object-fit: cover; object-position: center;">
                </div>
                <div class="col-lg-7">
                  <div class="row">
                    <div class="col-md-6 col-lg-6">
                      <a href="/service/website-design-and-development" class="mil-service-card-lgt">
                        <h4 class="mil-muted mil-up mil-mb-30">Website Design<br> and Development</h4>
                        <p class="mil-descr mil-light-soft mil-up mil-mb-30">Website modern, cepat, dan dirancang untuk mendorong performa serta konversi bisnis.</p>
                        <ul class="mil-service-list mil-light mil-mb-30">
                          <li class="mil-up">UX Research</li>
                          <li class="mil-up">Responsive Design</li>
                          <li class="mil-up">Methodologies</li>
                          <li class="mil-up">CMS Integration</li>
                        </ul>
                        <div class="mil-link mil-accent mil-arrow-place mil-up">
                          <span style="color: white;">Selengkapnya</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <a href="/service/custom-software-development" class="mil-service-card-lg">
                        <h4 class="mil-muted mil-up mil-mb-30">Custom Software<br> Development</h4>
                        <p class="mil-descr mil-light-soft mil-up mil-mb-30">Perangkat lunak khusus untuk meningkatkan efisiensi dan keunggulan operasional.</p>
                        <ul class="mil-service-list mil-light mil-mb-30">
                          <li class="mil-up">System Analysis</li>
                          <li class="mil-up">API Integration</li>
                          <li class="mil-up">Backend & Frontend Dev</li>
                          <li class="mil-up">QA & Deployment</li>
                        </ul>
                        <div class="mil-link mil-accent mil-arrow-place mil-up">
                          <span  style="color: white;">Selengkapnya</span>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <a href="/service/it-consultation" class="mil-service-card-lg mil-offset">
                        <h4 class="mil-muted mil-up mil-mb-30">IT Consulting</h4>
                        <p class="mil-descr mil-light-soft mil-up mil-mb-30">Konsultasi strategis untuk membantu bisnis beradaptasi dan berkembang melalui teknologi.</p>
                        <ul class="mil-service-list mil-light mil-mb-30">
                          <li class="mil-up">System Audit</li>
                          <li class="mil-up">Technology Roadmap</li>
                          <li class="mil-up">Cloud Strategy</li>
                          <li class="mil-up">Process Optimization</li>
                        </ul>
                        <div class="mil-link mil-accent mil-arrow-place mil-up">
                          <span style="color: white;">Selengkapnya</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- services end -->

      <!-- call to action -->
      <section class="mil-soft-bg">
        <div class="container mil-p-120-120">
          <div class="row">
            <div class="col-lg-10">
              <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>
            </div>
          </div>
          <div class="mil-center">
            <h2 class="mil-up mil-mb-60">Let's make an <span class="mil-thin">impact</span><br> together. Ready <span class="mil-thin">when you are</span></h2>
            <div class="mil-up"><a href="/contact" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
          </div>
        </div>
      </section>
      <!-- call to action end -->
</BaseLayout>
