---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Works | Soho Solusi Digital" description="Explore our portfolio showcasing innovative solutions and successful projects that demonstrate our expertise in web design, custom software development, and IT consultation.">
  <!-- content -->
  <div class="mil-content">
    <div class="mil-main-transition">

      <!-- banner -->
      <div class="mil-inner-banner">
        <div class="mil-banner-content mil-up">
          <div class="mil-animation-frame">
            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
          </div>
          <div class="container">
            <ul class="mil-breadcrumbs mil-mb-60">
              <li><a href="/">Homepage</a></li>
              <li><a href="/portfolio-1">Portfolio</a></li>
            </ul>
            <h1 class="mil-mb-60">Designing a <br> Better <span class="mil-thin">World Today</span></h1>
            <a href="#portfolio" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
              <span>Our works</span>
            </a>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- portfolio -->
      <section id="portfolio">
        <div class="container mil-portfolio mil-p-120-60">

          <!-- <div class="mil-lines-place"></div>
          <div class="mil-lines-place mil-lines-long"></div> -->

          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
              <a id="sercova" href="/work/sercova" class="mil-portfolio-item mil-mb-60">
                <div class="mil-cover-frame mil-vert mil-up"  style="padding-bottom: 72%;">
                  <div class="mil-cover">
                    <video src="/img/works/sercova/IMG_0699.MP4" autoplay loop muted playsinline width="100%" height="auto"></video>
                  </div>
                </div>
                <div class="mil-descr">
                  <div class="mil-labels mil-up mil-mb-15">
                    <div class="mil-label mil-upper mil-accent">Website Design & Development</div>
                    <div class="mil-label mil-upper">2025</div>
                  </div>
                  <h4 class="mil-up">Sercova</h4>
                </div>
              </a>
            </div>
            <!-- <div class="col-lg-6">
              <a href="/project-2" class="mil-portfolio-item mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                <div class="mil-cover-frame mil-hori mil-up">
                  <div class="mil-cover">
                    <img src="/img/works/2.jpg" alt="cover">
                  </div>
                </div>
                <div class="mil-descr">
                  <div class="mil-labels mil-up mil-mb-15">
                    <div class="mil-label mil-upper mil-accent">Custom Software Development</div>
                    <div class="mil-label mil-upper">2025</div>
                  </div>
                  <h4 class="mil-up">Badge & Certificate Administrator</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-6">
              <a href="/project-3" class="mil-portfolio-item mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                <div class="mil-cover-frame mil-hori mil-up">
                  <div class="mil-cover">
                    <img src="/img/works/3.jpg" alt="cover">
                  </div>
                </div>
                <div class="mil-descr">
                  <div class="mil-labels mil-up mil-mb-15">
                    <div class="mil-label mil-upper mil-accent">Custom Software Development</div>
                    <div class="mil-label mil-upper">2025</div>
                  </div>
                  <h4 class="mil-up">Event Organizer</h4>
                </div>
              </a>
            </div> -->
            <!-- <div class="col-lg-5">
              <a href="/project-4" class="mil-portfolio-item mil-mb-60">
                <div class="mil-cover-frame mil-vert mil-up">
                  <div class="mil-cover">
                    <img src="/img/works/4.jpg" alt="cover">
                  </div>
                </div>
                <div class="mil-descr">
                  <div class="mil-labels mil-up mil-mb-15">
                    <div class="mil-label mil-upper mil-accent">Branding</div>
                    <div class="mil-label mil-upper">may 24 2023</div>
                  </div>
                  <h4 class="mil-up">Cascade of Lava</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-6">
              <a href="/project-5" class="mil-portfolio-item mil-parallax mil-mb-60" data-value-1="-60" data-value-2="60">
                <div class="mil-cover-frame mil-hori mil-up">
                  <div class="mil-cover">
                    <img src="/img/works/5.jpg" alt="cover">
                  </div>
                </div>
                <div class="mil-descr">
                  <div class="mil-labels mil-up mil-mb-15">
                    <div class="mil-label mil-upper mil-accent">Design</div>
                    <div class="mil-label mil-upper">may 24 2023</div>
                  </div>
                  <h4 class="mil-up">Air Pro by Molekule</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-5">
              <a href="/project-6" class="mil-portfolio-item mil-mb-60">
                <div class="mil-cover-frame mil-vert mil-up">
                  <div class="mil-cover">
                    <img src="/img/works/6.jpg" alt="cover">
                  </div>
                </div>
                <div class="mil-descr">
                  <div class="mil-labels mil-up mil-mb-15">
                    <div class="mil-label mil-upper mil-accent">Branding</div>
                    <div class="mil-label mil-upper">may 24 2023</div>
                  </div>
                  <h4 class="mil-up">Tony's Chocolonely</h4>
                </div>
              </a>
            </div> -->
          </div>
        </div>
      </section>
      <!-- portfolio end -->

    </div>
  </div>
  <!-- content -->

</BaseLayout>