---
// Menu.astro - Navigation component
---

<!-- menu -->
<div class="mil-menu-frame">
  <!-- frame clone -->
  <div class="mil-frame-top">
    <a href="/" class="mil-logo">
      <img src="/img/logo/soho_logo_black.png" alt="logo" style="height: 40px; width: auto;" class="mil-logo-white">
      <img src="/img/logo/soho_logo_white.png" alt="logo" style="height: 40px; width: auto;" class="mil-logo-black">
    </a>
    <div class="mil-menu-btn">
      <span></span>
    </div>
  </div>
  <!-- frame clone end -->
  <div class="container">
    <div class="mil-menu-content">
      <div class="row">
        <div class="col-xl-5">
          <nav class="mil-main-menu" id="swupMenu">
            <ul>
              <li class={Astro.url.pathname === '/' ? 'mil-active' : ''}>
                <a href="/">Home</a>
              </li>
              <li class={Astro.url.pathname.startsWith('/service') || Astro.url.pathname.startsWith('/services') ? 'mil-has-children mil-active' : 'mil-has-children'}>
                <a href="#.">Services</a>
                <ul style="font-size: 16px;">
                  <li><a style="font-size: 16px;" href="/service/website-design-and-development/">Website design and development</a></li>
                  <li><a style="font-size: 16px;" href="/service/custom-software-development/">Custom software development</a></li>
                  <li><a style="font-size: 16px;" href="/service/it-consultation/">IT Consultation</a></li>
                </ul>
              </li>
              <li class={Astro.url.pathname.startsWith('/works') || Astro.url.pathname.startsWith('/work') ? 'mil-active' : ''}>
                <a href="/works">Works</a>
              </li>
              <li class={Astro.url.pathname === '/contact' ? 'mil-active' : ''}>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xl-7">

          <div class="mil-menu-right-frame">
              <div class="mil-animation-in">
                  <div class="mil-animation-frame">
                      <div class="mil-animation mil-position-1 mil-scale" data-value-1="2" data-value-2="2"></div>
                  </div>
              </div>
              <div class="mil-menu-right">
                  <div class="row">
                      <div class="col-lg-7 mil-mb-60">

                          <h6 class="mil-muted mil-mb-30" style="font-size: 24px;">Projects</h6>

                          <ul class="mil-menu-list" style="font-size: 20px;">
                              <li><a href="/work/sercova" class="mil-light-soft">Sercova</a></li>
                              <li><a href="/work/angkasa-pura-property" class="mil-light-soft">Angkasa Pura Property</a></li>
                              <li></li>
                          </ul>

                      </div>
                      <div class="col-lg-5 mil-mb-60">

                          <h6 class="mil-muted mil-mb-30" style="font-size: 24px;">Social Media</h6>

                          <ul class="mil-menu-list" style="font-size: 20px;">
                              <li><a href="https://www.instagram.com/sohosolusidigital" class="mil-light-soft">Instagram</a></li>
                              <li><a href="https://www.linkedin.com/in/soho-solusi-digital" class="mil-light-soft">LinkedIn</a></li>
                              <li><a href="mailto:business@sohodigital.id" class="mil-light-soft">Email</a></li>
                              <li><a href="https://wa.me/62811979362" class="mil-light-soft">Whatsapp</a></li>
                          </ul>

                      </div>
                  </div>
                  <div class="mil-divider mil-mb-60"></div>
                  <div class="row justify-content-between">

                      <div class="mil-mb-60">

                          <h6 class="mil-muted mil-mb-30" style="font-size: 24px;">Office</h6>

                          <p class="mil-light-soft" style="font-size: 20px;">
                              <br/>Podomoro city ruko gsa 8dh, jalan Letjen S. Parman
                              <br/>015/005, Tanjung Duren Selatan, Grogol
                              <br/>Petamburan, kota Adm. Jakarta Barat
                              <br/>DKI Jakarta
                          </p>

                      </div>
                  </div>
              </div>
          </div>

      </div>
      </div>
    </div>
  </div>
  <!-- <div class="mil-frame-bottom">
    <div class="mil-current-page"></div>
    <div class="mil-back-to-top">
      <a href="#top" class="mil-link mil-dark mil-arrow-place">
        <span>Back to top</span>
      </a>
    </div>
  </div> -->
</div>
<!-- frame end -->