---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Portfolio IASP | Soho Solusi Digital" description="Our portfolio showcasing innovative solutions and successful projects that demonstrate our expertise in web design, custom software development, and IT consultation." >
  <!-- content -->

    
      <!-- banner -->
      <div class="mil-inner-banner" style="background-color: #e9e8e9;">
        <div class="mil-banner-content mil-up">
          <div class="mil-animation-frame">
            <div class="mil-animation mil-position-4 mil-dark mil-scale" ></div>
          </div>
          <div class="container">
            <ul class="mil-breadcrumbs mil-mb-60">
              <li><a href="/">Homepage</a></li>
              <li><a href="/works">Works</a></li>
              <li>Angkasa Pura Property</li>
            </ul>
            <h1 class="mil-mb-60">Website Development <span class="mil-thin">Angkasa Pura Property</span></h1>
            <a href="#project" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
              <span>Read more</span>
            </a>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- project -->
      <section class="mil-p-120-0" style="background-color: #e9e8e9;">
        <div class="container mil-p-0-120" id="project">
          <div class="mil-image-frame mil-horizontal mil-up" style="padding-bottom: 0%;">
            <video src="/img/works/iasp/banner.mp4" autoplay loop muted playsinline width="100%" height="auto"></video>
            
          </div>
          <div class="mil-info mil-up">
            <div>Client: &nbsp;<span class="mil-dark">Angkasa Pura Property</span></div>
            <!-- <div>Date: &nbsp;<span class="mil-dark">2025</span></div> -->
            <!-- <div>Author: &nbsp;<span class="mil-dark">Paul Trueman</span></div> -->
          </div>
          
          <div class="row justify-content-between" style="margin-block: 2rem;">
              <article class="overview-id" style="line-height: 40px;">
                <div class="" style="text-align: center;margin-top: 30px;margin-bottom: 50px;">
                  <img src="/logo/ap-logo.png" alt="Angkasa Pura Property Logo" width="300" height="auto"/>
                  <a target="_blank" rel="noopener noreferrer" href="https://approperti.co.id" style="display: block;font-size: 24px">approperti.co.id</a>
                </div>
                <h3 class="mb-2"><strong>Overview</strong></h3>
                <p class="mil-mb-30" style="font-size: 22px;color: #1A1A1A">
                <strong>approperti.co.id</strong> adalah website resmi dari <em>Angkasa Pura Property</em>, sebuah perusahaan yang bergerak di bidang pengembangan properti dan infrastruktur penerbangan. Situs ini dirancang untuk memperkenalkan profil perusahaan, lini bisnis, serta berbagai aktivitas korporasi kepada investor, mitra, dan publik secara profesional dan transparan.
                </p>

                <h4>Bidang & Produk yang Ditampilkan</h4>
                <ul class="mil-mb-30" style="padding-left: 1.2rem; font-size: 22px;color: #1A1A1A">
                <li>Pengembangan properti dan aset strategis untuk mendukung kawasan terintegrasi, termasuk area komersial dan fasilitas pendukung.</li>
                <li>Pengembangan infrastruktur penerbangan, seperti pembangunan dan revitalisasi fasilitas bandara serta layanan terkait.</li>
                <li>Publikasi berita dan update perusahaan, termasuk kegiatan CSR/TJSL, peluncuran proyek, serta capaian dan penghargaan.</li>
                <li>Penyediaan informasi untuk investor dan mitra, termasuk laporan, profil perusahaan, dan peluang kerja sama.</li>
                </ul>

                <h4 class="mb-2">Fitur Utama & Pendekatan</h4>
                <ul class="mil-mb-30" style="padding-left: 1.2rem; font-size: 22px;color: #1A1A1A">
                <li>Tata letak bersih dan profesional dengan navigasi yang memudahkan pengunjung mengakses informasi perusahaan.</li>
                <li>Konten dinamis seperti berita, galeri, dan publikasi untuk memberikan gambaran menyeluruh mengenai aktivitas Angkasa Pura Property.</li>
                <li>Penyajian data perusahaan yang transparan, termasuk struktur organisasi dan tata kelola.</li>
                <li>Dukungan platform digital internal seperti portal aplikasi dan layanan operasional berbasis web.</li>
                </ul>

                <p class="mil-mb-30" style="font-size: 22px;color: #1A1A1A">
                Website ini berfungsi sebagai pusat informasi resmi Angkasa Pura Property Indonesia, memperkuat kredibilitas perusahaan,
                serta memfasilitasi komunikasi dengan para pemangku kepentingan, investor, dan publik.
                </p>

              </article>
            </div>
          
        </div>
      </section>
      <div class="d-grid" style="background-color: #dedbdf;">
        <img  style="object-position: center;" src="/img/works/iasp/1.png" alt="image" width="100%" height="auto"/>
        <video  style="object-position: center;" src="/img/works/iasp/video.mp4" width="100%" height="auto" autoplay loop muted playsinline></video>
        <div class="container" style="background-color: #dedbdf; margin-block: 10rem;">
          <img style="object-position: center;" src="/img/works/iasp/2.png" alt="image" width="100%" height="auto"/>
        </div>
        <img style="object-position: center;" src="/img/works/iasp/3.png" alt="image" width="100%" height="auto"/>
        <img style="object-position: center;" src="/img/works/iasp/4.png" alt="image" width="100%" height="auto"/>
        <!-- <div class="mil-dark-bg">
          <div>
            <img style="object-position: center;filter: invert(100%) grayscale(0) brightness(1);object-fit: cover;height: 100%;" src="/img/works/iasp/3.png" alt="image" width="100%" height="100%"/>
            <img style="object-position: center;filter: invert(100%) grayscale(0) brightness(1);object-fit: cover;height: 100%;" src="/img/works/iasp/4.png" alt="image" width="100%" height="100%"/>
          </div>
        </div> -->
      </div>
      
      <section style="background-color: #dedbdf;">
        <div class="container"  style="margin-block: 8rem;">
          <div class="">
            <div class="row justify-content-between mil-p-90-120">
              <div class="col-lg-5">
                <h3 class="mil-up mil-mb-60">Simplicity, elegance, innovation!</h3>
              </div>
              <div class="col-lg-6">
                <p class="mil-up mil-mb-30">Kami hidup dari ide-ide besar dan teknologi. Di Soho, kami mengubah visi menjadi solusi digital yang nyata dari pengembangan website dan sistem, hingga strategi IT yang mendorong bisnis ke level berikutnya.</p>
                <p class="mil-up mil-mb-30">Dengan perpaduan keahlian di bidang desain, teknologi, dan konsultasi, kami menciptakan pengalaman digital yang tidak hanya terlihat menarik, tapi juga berfungsi dengan sempurna. Setiap proyek kami lahir dari kolaborasi erat, inovasi, dan semangat untuk menghadirkan solusi yang melampaui ekspektasi.</p>
                <p class="mil-up mil-mb-60">Kami tidak hanya membangun website atau sistem ,kami membangun fondasi digital yang membuat bisnis Anda tumbuh, dikenal, dan dipercaya.</p>
                <div class="mil-up">                  
                  <a href="/contact" class="mil-button mil-arrow-place">
                    <span>Get in touch</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- project end -->
    

  <!-- content -->

</BaseLayout>